<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Kubernetes Deployment Showcase</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<div class="container">
    <h1>Welcome to Our Kubernetes Deployment Showcase</h1>
    <p>We are pleased to present our Kubernetes deployment mock project from jenkins namespace.</p>
    <button onclick="window.location.href='/api'">Go to API</button>
</div>
</body>
</html>
